<div class="tarif-container">
    <h1 class="tarif-title">Abonnements</h1>

    <div class="tarif-card">
        <h2>Tarif Journalier</h2>
        <p>Idéal pour les besoins occasionnels.</p>
        <p class="tarif-price">3000 Franc CFA / jour</p>
       
        <button class="btn btn-primary" [routerLink]="['/payement']">Souscrire</button>


    </div>

    <div class="tarif-card">
        <h2>Tarif Hebdomadaire</h2>
        <p>Pour les familles ayant besoin d'un service régulier.</p>
        <p class="tarif-price">10900 Franc CFA / semaine</p>
        <button class="btn btn-primary" [routerLink]="['/payement']">Souscrire</button>
    </div>

    <div class="tarif-card">
        <h2>Tarif Mensuel</h2>
        <p>Accès complet aux services de gestion de crèche.</p>
        <p class="tarif-price">30000 Franc CFA / mois</p>
        <button class="btn btn-primary" [routerLink]="['/payement']">Souscrire</button>
    </div>

    <div class="tarif-card">
        <h2>Tarif Annuel</h2>
        <p>Économisez en souscrivant pour une année entière.</p>
        <p class="tarif-price">100000 Franc CFA / an</p>
        <button class="btn btn-primary" [routerLink]="['/payement']">Souscrire</button>
    </div>

    <a href="/home" class="btn btn-secondary">
        &larr; Retour à la page d'accueil
    </a>
</div>

