<!-- <div class="container">
    <h2>Tarifs pour la gestion de crèche</h2>
    <p>Choisissez votre formule d'abonnement pour profiter de notre logiciel.</p>
  
    <form #pricingForm="ngForm" (ngSubmit)="onSubmit(pricingForm)">
  
     
      <div class="form-group">
        <label for="subscription">Formule d'abonnement :</label>
        <div>
          <input type="radio" id="monthly" name="subscription" ngModel value="monthly" required> Mensuel - 50 €
        </div>
        <div>
          <input type="radio" id="yearly" name="subscription" ngModel value="yearly" required> Annuel - 500 €
        </div>
      </div>
  
     
      <div class="form-group">
        <label for="crecheName">Nom de la crèche :</label>
        <input type="text" id="crecheName" class="form-control" name="crecheName" ngModel required placeholder="Entrez le nom de votre crèche">
      </div>
  
      
      <div class="form-group">
        <label for="email">Adresse email :</label>
        <input type="email" id="email" class="form-control" name="email" ngModel required placeholder="Entrez votre email">
      </div>
  
      
      <button type="submit" class="btn btn-primary" [disabled]="pricingForm.invalid">Souscrire</button>
    </form>
  </div>
   -->
