<div class="home-container">
    <header >
      <div class="part1">
          <app-logo class="logo">logo</app-logo>
            <nav class="navbar">
              <a routerLink="/home" class="nav-link">Accueil</a>
              <a routerLink="/solution" class="nav-link">Notre solution</a>
              <a routerLink="/contact" class="nav-link">Contact</a>
              <a routerLink="/tarif" class="nav-link">Tarif</a>
              <a routerLink="/connexion" class="nav-link login-btn">Se connecter</a>
            </nav>
     </div>
      
     <div class="part2"> 
        <div class="part2min1">
          <h2>Contactez-nous</h2>
          <div class="contact-info">
            <div class="contact-item">
                <span class="material-icons" style="font-size: 40px; color: #fff; margin-right: 15px;">phone</span>
                <p><strong>Téléphone :</strong> +225 0779185258</p>
            </div>
        
            <div class="contact-item">
                <span class="material-icons" style="font-size: 40px; color: #fff; margin-right: 15px;">email</span>
                <p><strong>Email :</strong> <a href="mailto:contact@creche.com" style="color: #fff;">contact.com</a></p>
            </div>
        
            <div class="contact-item">
                <span class="material-icons" style="font-size: 40px; color: #fff; margin-right: 15px;">location_on</span>
                <p><strong>Adresse :</strong> Cocody palmeraie rue 80, Abidjan, Cote d'Ivoire</p>
            </div>
        </div>
        
        </div>


        
      </div>

    </header>
  
    
