.payment-page {
    text-align: center;
    padding: 150px;
    background-color: #f9f9f9; // Couleur de fond
    border-radius: 8px; // Coins arrondis
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre légère
  
    h2 {
      color: #333; // Couleur du texte
      margin-bottom: 20px;
    }
  
    .payment-options {
      list-style: none; // Supprimer les puces
      padding: 0;
  
      li {
        display: inline-block; // Affichage en ligne
        margin: 10px; // Espacement entre les éléments
        text-align: center; // Centrer le contenu
  
        img {
          width: 100px; // Largeur d'image
          height: auto; // Hauteur automatique
          margin-bottom: 5px; // Espacement sous l'image
        }
  
        p {
          font-size: 16px; // Taille de police
          color: #555; // Couleur du texte
        }
      }
    }

    
  }
  